
  <!-----------------El header---------------------------->
<app-encabezado></app-encabezado>
  <!--------------------- #Acerca -------------------------->
<app-acerca></app-acerca>
  <!------------------------- #Experiencia -------------------->
 <app-experiencia></app-experiencia>
  <!------------------------- #Educación -------------------->
  <app-educacion></app-educacion>
  <!-------------------------- skills------------------------------------->
<app-skills></app-skills>
  <!---------------------- #Desarrollos ----------------------------------->
<app-desarrollos></app-desarrollos>
<!-- hacerlo con TS
  <script>
      const niveles = document.getElementsByClassName('nivel');
      const circulos = document.getElementsByClassName('circulos');

      for (let i = 0; i < niveles.length; i++) {
          circulos[i].style.strokeDashoffset = 472 - 472 * niveles[i].textContent / 100;
      };      //la vuelta completa es 472
  </script>
-->
